.aseg-data-card {
    width: 90%;
    min-height: auto;
    padding: 1rem;
    margin: 0px auto;
}

.avatar-card-image {
    background-image: url('../../../../assets/perfil-avatar-hombre.jpg');
    background-size: cover;
}