<mat-grid-list cols="2" rowHeight="250px" gutterSize="10px" class="pol-detail">
    <mat-grid-tile class="baldosa" class="mat-elevation-z8">
        <mat-card class="contenido">
            <mat-card-header>
                <mat-card-title>
                    Cobertura contratada                
                </mat-card-title>
            </mat-card-header>
            <div>
                <p class="amount-title">Plan</p>
                <p class="cover-title">Retiro joven</p>
            </div>
            <div>
                <p class="amount-title">Acumulado</p>
                <p class="total-amount">$ 400.000,98</p>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="baldosa" class="mat-elevation-z8">
        <mat-card class="contenido">
            <mat-card-header>
                <mat-card-title>
                    Información de pago
                </mat-card-title>
            </mat-card-header>
            <div>
                <p class="pay-sub-title">Débito automático</p>
                <p class="pay-type">Tarjeta Visa</p>
                <button mat-stroked-button color="warn">
                    <mat-icon class="edit-btn">credit_card</mat-icon>
                    modificar
                </button>
            </div>
            <div>
                <p class="pay-sub-title">Aporte mensual</p>
                <p class="pay-amount">$3.000</p>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
  